<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      위쪽 상자에 자바 DTO 클래스를 넣으면 다른 언어용 DTO로 바꿔줍니다
      developed by sooyeon-y @ last updated 2022-12-05
    </p>

    <select v-model="selectedLanguage">
      <option
        v-for="language in languageOptions"
        v-bind:key="language.value"
        v-bind:value="language.text"
      >
        {{ language.text }}
      </option>
    </select>

    <input
      type="checkbox"
      id="nullable"
      name="nullable"
      v-model="isNullable"
      checked
    />
    <label for="nullable">nullable (?) 필드로 만들기</label>

    <p><textarea v-model="javaInput" cols="100" rows="10"></textarea></p>
    <p><textarea v-model="resultOutput" cols="100" rows="10"></textarea></p>
    <button type="button" @click="convert">Convert</button>

    <h3>Installed CLI Plugins</h3>
    <ul>
      <li>
        <a
          href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-babel"
          target="_blank"
          rel="noopener"
          >babel</a
        >
      </li>
      <li>
        <a
          href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-typescript"
          target="_blank"
          rel="noopener"
          >typescript</a
        >
      </li>
      <li>
        <a
          href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-eslint"
          target="_blank"
          rel="noopener"
          >eslint</a
        >
      </li>
    </ul>
    <h3>Essential Links</h3>
    <ul>
      <li>
        <a href="https://vuejs.org" target="_blank" rel="noopener">Core Docs</a>
      </li>
      <li>
        <a href="https://forum.vuejs.org" target="_blank" rel="noopener"
          >Forum</a
        >
      </li>
      <li>
        <a href="https://chat.vuejs.org" target="_blank" rel="noopener"
          >Community Chat</a
        >
      </li>
      <li>
        <a href="https://twitter.com/vuejs" target="_blank" rel="noopener"
          >Twitter</a
        >
      </li>
      <li>
        <a href="https://news.vuejs.org" target="_blank" rel="noopener">News</a>
      </li>
    </ul>
    <h3>Ecosystem</h3>
    <ul>
      <li>
        <a href="https://router.vuejs.org" target="_blank" rel="noopener"
          >vue-router</a
        >
      </li>
      <li>
        <a href="https://vuex.vuejs.org" target="_blank" rel="noopener">vuex</a>
      </li>
      <li>
        <a
          href="https://github.com/vuejs/vue-devtools#vue-devtools"
          target="_blank"
          rel="noopener"
          >vue-devtools</a
        >
      </li>
      <li>
        <a href="https://vue-loader.vuejs.org" target="_blank" rel="noopener"
          >vue-loader</a
        >
      </li>
      <li>
        <a
          href="https://github.com/vuejs/awesome-vue"
          target="_blank"
          rel="noopener"
          >awesome-vue</a
        >
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    msg: String,
  },
})
export default class HelloWorld extends Vue {
  msg!: string;

  javaInput = "";
  resultOutput = "";

  isNullable = false;

  languageOptions = [
    { value: "dart", text: "dart" },
    { value: "typescript", text: "typescript" },
  ];
  selectedLanguage = "dart";

  dartConvertMap: Map<string, string> = new Map();
  tsConvertMap: Map<string, string> = new Map();

  mounted() {
    this.dartConvertMap.set("int", "int");
    this.dartConvertMap.set("Integer", "int");
    this.dartConvertMap.set("long", "int");
    this.dartConvertMap.set("Long", "int");
    this.dartConvertMap.set("float", "double");
    this.dartConvertMap.set("Float", "double");
    this.dartConvertMap.set("double", "double");
    this.dartConvertMap.set("Double", "double");
    this.dartConvertMap.set("String", "String");
    this.dartConvertMap.set("boolean", "bool");

    this.tsConvertMap.set("int", "number");
    this.tsConvertMap.set("Integer", "number");
    this.tsConvertMap.set("long", "number");
    this.tsConvertMap.set("Long", "number");
    this.tsConvertMap.set("float", "number");
    this.tsConvertMap.set("Float", "number");
    this.tsConvertMap.set("double", "number");
    this.tsConvertMap.set("Double", "number");
    this.tsConvertMap.set("boolean", "boolean");
    this.tsConvertMap.set("String", "string");
  }

  convert() {
    if (this.selectedLanguage == "dart") {
      this.convertToDart();
    } else if (this.selectedLanguage == "typescript") {
      this.convertToTypeScript();
    }
  }

  convertToTypeScript() {
    this.resultOutput = "";

    let className = this.javaInput.split("class")[1].split("{")[0].trim();

    // { 부터 } 까지를 자른다.
    let splitedInputStr = this.javaInput.split("{")[1].split("}")[0];

    // 각 줄을 읽으면서, 타입 리스트랑 이름 리스트를 만든다.
    let javaTypeList = [];
    let tsTypeList = [];
    let nameList = [];
    let variableList = splitedInputStr.split("\n");
    console.log(variableList);

    for (let variableLine of variableList) {
      if (variableLine.trim().length < 1) continue;

      variableLine = variableLine.replace("private", "");
      variableLine = variableLine.replace("public", "");
      variableLine = variableLine.trim().replaceAll(";", "");
      let type = variableLine.split(" ")[0];
      let name = variableLine.split(" ")[1];
      javaTypeList.push(type);
      nameList.push(name);
    }

    console.log(javaTypeList);
    console.log(nameList);
    let keysArr = [...this.tsConvertMap.keys()];

    // 타입 리스트를 돌면서 dart에 맞는 타입으로 변환
    for (let type of javaTypeList) {
      // 리스트인 경우
      if (type.indexOf("<") > 0) {
        // let collection = type.split("<")[0];
        let collection = "Array";
        type = type.split("<")[1].split(">")[0];
        if (keysArr.includes(type)) {
          tsTypeList.push(collection + "<" + this.tsConvertMap.get(type) + ">");
        } else {
          tsTypeList.push(collection + "<" + type + ">");
        }
      }

      // 아닌 경우
      else {
        if (keysArr.includes(type)) {
          tsTypeList.push(this.tsConvertMap.get(type));
        } else {
          tsTypeList.push(type);
        }
      }
    }

    console.log(tsTypeList);

    // 코드 생성
    // 클래스명
    this.resultOutput += "export interface " + className + " {\n";

    // 변수 리스트
    for (let i = 0; i < nameList.length; i++) {
      this.resultOutput +=
        nameList[i] +
        (this.isNullable ? "?" : "") +
        ": " +
        tsTypeList[i] +
        ";\n";
    }

    // fromJson
    // this.resultOutput +=
    //   "\n\nexport const jsonTo" +
    //   className +
    //   "Dto = (json: any): " + className + "Dto => ({\n";

    // for (let i = 0; i < nameList.length; i++) {
    //   // 컬렉션인 경우
    //   if (tsTypeList[i]!.indexOf("<") > 0) {
    //     let varClassName = tsTypeList[i]!.split("<")[1].split(">")[0];
    //     this.resultOutput +=
    //       nameList[i] +
    //       ": json." +
    //       nameList[i] + " ? "
    //       + "json." +
    //       nameList[i] +
    //       ".map" +
    //       varClassName +
    //       ">((el) => " +
    //       varClassName +
    //       ".fromJson(el)).toList(),\n";
    //   }
    //   // 컬렉션은 아니고 그냥 레퍼런스 타입인 경우
    //   else if (!keysArr.includes(dartTypeList[i]!)) {
    //     this.resultOutput +=
    //       nameList[i] +
    //       ": " +
    //       dartTypeList[i] +
    //       ".fromJson(json['" +
    //       nameList[i] +
    //       "']),\n";
    //   }
    //   // 기본 타입인 경우
    //   else {
    //     this.resultOutput += nameList[i] + ": json['" + nameList[i] + "'],\n";
    //   }
    // }
    // this.resultOutput += ");\n\n\n";

    // // toJson
    // this.resultOutput += "Map<String, dynamic> toJson() => {\n";
    // for (let i = 0; i < nameList.length; i++) {
    //   this.resultOutput += "'" + nameList[i] + "': " + nameList[i] + ",\n";
    // }
    this.resultOutput += "};";
  }

  convertToDart() {
    this.resultOutput = "";

    let className = this.javaInput.split("class")[1].split("{")[0].trim();

    // { 부터 } 까지를 자른다.
    let splitedInputStr = this.javaInput.split("{")[1].split("}")[0];

    // 각 줄을 읽으면서, 타입 리스트랑 이름 리스트를 만든다.
    let javaTypeList = [];
    let dartTypeList = [];
    let nameList = [];
    let variableList = splitedInputStr.split("\n");
    console.log(variableList);

    for (let variableLine of variableList) {
      if (variableLine.trim().length < 1) continue;

      variableLine = variableLine.replace("private", "");
      variableLine = variableLine.replace("public", "");
      variableLine = variableLine.trim().replaceAll(";", "");
      let type = variableLine.split(" ")[0];
      let name = variableLine.split(" ")[1];
      javaTypeList.push(type);
      nameList.push(name);
    }

    console.log(javaTypeList);
    console.log(nameList);
    let keysArr = [...this.dartConvertMap.keys()];

    // 타입 리스트를 돌면서 dart에 맞는 타입으로 변환
    for (let type of javaTypeList) {
      // 리스트인 경우
      if (type.indexOf("<") > 0) {
        let collection = type.split("<")[0];
        type = type.split("<")[1].split(">")[0];
        if (keysArr.includes(type)) {
          dartTypeList.push(
            collection + "<" + this.dartConvertMap.get(type) + ">"
          );
        } else {
          dartTypeList.push(collection + "<" + type + ">");
        }
      }

      // 아닌 경우
      else {
        if (keysArr.includes(type)) {
          dartTypeList.push(this.dartConvertMap.get(type));
        } else {
          dartTypeList.push(type);
        }
      }
    }

    console.log(dartTypeList);

    // dart 코드 생성
    // 클래스명, 생성자
    this.resultOutput += "class " + className + " {\n";
    this.resultOutput += "  " + className + "({\n";
    for (let name of nameList) {
      this.resultOutput += this.isNullable ? "" : "required ";
      this.resultOutput += "this." + name + ",\n";
    }
    this.resultOutput += "});\n\n\n";

    // 변수 리스트
    for (let i = 0; i < nameList.length; i++) {
      this.resultOutput +=
        dartTypeList[i] +
        (this.isNullable ? "?" : "") +
        " " +
        nameList[i] +
        ";\n";
    }

    // fromJson
    this.resultOutput +=
      "\n\nfactory " +
      className +
      ".fromJson(Map<String, dynamic> json) => " +
      className +
      "(\n";
    for (let i = 0; i < nameList.length; i++) {
      // 컬렉션인 경우
      if (dartTypeList[i]!.indexOf("<") > 0) {
        let varClassName = dartTypeList[i]!.split("<")[1].split(">")[0];
        this.resultOutput +=
          nameList[i] +
          ": json['" +
          nameList[i] +
          "'].map<" +
          varClassName +
          ">((el) => " +
          varClassName +
          ".fromJson(el)).toList(),\n";
      }
      // 컬렉션은 아니고 그냥 레퍼런스 타입인 경우
      else if (!keysArr.includes(dartTypeList[i]!)) {
        this.resultOutput +=
          nameList[i] +
          ": " +
          dartTypeList[i] +
          ".fromJson(json['" +
          nameList[i] +
          "']),\n";
      }
      // 기본 타입인 경우
      else {
        this.resultOutput += nameList[i] + ": json['" + nameList[i] + "'],\n";
      }
    }
    this.resultOutput += ");\n\n\n";

    // toJson
    this.resultOutput += "Map<String, dynamic> toJson() => {\n";
    for (let i = 0; i < nameList.length; i++) {
      this.resultOutput += "'" + nameList[i] + "': " + nameList[i] + ",\n";
    }
    this.resultOutput += "};\n\n}";
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
